html {
    scroll-behavior: smooth;
}

body {
    background-image: url(https://cdn.discordapp.com/attachments/380494360183177216/961841466399928351/pog.gif);
    font-size: 18px;
    margin: 0;
    background-size: cover;
    background-position: 50% 50%;
}

header {
    background-image: url(https://wallpaperaccess.com/full/755385.jpg);
    color: rgb(232, 230, 227);
    background-attachment: scroll;
    text-align: center;
    height: 200px;
    padding-top: 4vh;
    background-position: center;
    background-size: cover;
}

header h1 {
    color: white;
    text-shadow:
            -1px -1px 0 #000,
            1px -1px 0 #000,
            -1px 1px 0 #000,
            1px 1px 0 #000;
    font-size: 50px;
}
header h2 {
    color: white;
    text-shadow:
            -1px -1px 0 #000,
            1px -1px 0 #000,
            -1px 1px 0 #000,
            1px 1px 0 #000;
    font-size: 30px;
}
#nav {
    background-image: url(https://wallpaperaccess.com/full/755385.jpg);
    font-size: 27px;
    padding: 10px;
    display: flex;
    justify-content: space-evenly;
    border-radius: 0;
}

nav div button a {
    color: white;
    text-decoration: none;
}

.button {
    color:white;
    border: none;
    padding: 20px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    background-color: darkcyan;
    justify-content: space-evenly;
    border-radius: 12px;
}

.button:hover {
    border: none;
    padding: 20px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    justify-content: space-evenly;
    border-radius: 12px;
    background-color: magenta;
}

h1 {
    font-size: 2em
}

h2 {
    font-size: 1em;
}

main {
    margin: 4px;
}

a {
    text-decoration: none;
    color: #ce41c0;
}

#headshot {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    width: auto;
    height: auto;
    padding: 0;
    max-width: 30%;
    max-height: 100%;
}

section {
    background-color: #262626;
    color: white;
    border-radius: 12px;
    padding: 20px;
    margin: 20px auto;
    width: auto;
    max-width: 80%;
    text-align:center
}

#Projects {
    background-color: #1e1e1e;
}

img {
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
    width: 400px;
    max-width: 100%;
}

iframe {
    max-width: 100%
}

footer {
    background-color: #362862;
    font-size: 27px;
    padding: 10px;
    display: flex;
    justify-content: space-around;
    border-radius: 0;
    color: white;
    text-shadow:
            -1px -1px 0 #000,
            1px -1px 0 #000,
            -1px 1px 0 #000,
            1px 1px 0 #000;
    alignment: left;
}

footer a {
    font-size: 27px;
    color: white;
    text-shadow:
            -1px -1px 0 #000,
            1px -1px 0 #000,
            -1px 1px 0 #000,
            1px 1px 0 #000;
    text-decoration: none;
    text-align: center;
    position:relative; top:-5px;
}

/*
footer a img{
    border: 0 solid #ddd;
    border-radius: 0;
    width: 32px;
    height: 32px;
    padding: 0;
}
*/

footer p a svg{
    max-width: 100%;
    width: 32px;
    position:relative; top:6px;
}

@media only screen and (max-width: 650px) {

}